@use '../_sharedStyles';

.sideMenu {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: sharedStyles.$sideMenuMaxSize;
    max-width: sharedStyles.$sideMenuMaxSize;
    min-height: 100vh;
    background-image: linear-gradient(to left, lightCyan, darkTurquoise);
    display: flex;
    flex-direction: column; 
    flex-wrap: nowrap;
}

.menuItem {
    border: single;
    border-radius: 5px;
    border-color: blue;  
    padding: 10px;
    margin: 10px 40px 10px 10px; 
    background-color: paleTurquoise;
    text-wrap: nowrap;
    font-size: 14px; /*TODO: Use predefined font size*/
}

.icon {
    color: #2572ad;  /*TODO: Use predefined color*/
}
