@use './_sharedStyles';

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightCyan;
    margin: 0;
}
.masterContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
}

.contentContainer {
    flex-shrink: 1;
    margin-top: 8px;
    margin-left: 8px;
    padding-right: 40px;
    overflow-x: hidden;
    width: calc(100vw - sharedStyles.$sideMenuMaxSize);

}

