<!DOCTYPE html>
<html>

<head>
    <script src="https://kit.fontawesome.com/dc69a46cdf.js" crossorigin="anonymous"></script>
    <script src="~/static/main.js" type="module"></script>
</head>

<body>
    <weekly-time-sheet></weekly-time-sheet>
</body>

</html>
