.entryContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.entryLabel {
    min-width: 140px;
    max-width: 140px;
    overflow-wrap: break-word;
    font-size: 1.1em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.entryInput {
    min-height: 30px;
    min-width: 300px;
    padding: 0 10px 0 10px;
    font-size: 1.1em;
    border-style: ridge;
    border-color: #286880;
    border-radius: 5px;
    border-width: 1px;
}

.entryTextArea {
    font: inherit;
    font-size: 1.1em;
    resize: none;
    height: auto;
    max-height: 400px;
    min-width: 400px;
}
