@use "./_sharedStyles.scss";

$inputPadding: 0.4em;

@mixin textInput {
    min-height: 30px;
    padding: 0 $inputPadding 0 $inputPadding;
    font-size: sharedStyles.$fontSize;
    border-style: ridge;
    border-color: #286880; //TODO: use predefined color
    border-radius: 5px;
    border-width: 1px;
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
}

.entryInput {
    @include textInput;
}

.entryTextArea {
    @include textInput;
    font: inherit;
    font-size: sharedStyles.$fontSize;
    padding: $inputPadding;
    resize: none;
    height: auto;
    max-height: 400px;
    width: 100%;
}
