<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/weeklyTimesheet/static/styles.css">
    <script src="https://kit.fontawesome.com/dc69a46cdf.js" crossorigin="anonymous"></script>
    <script src="~/weeklyTimesheet/static/WeeklyTimeSheet.js" type="module"></script>
</head>

<body>
    <time-sheet-table></time-sheet-table>
</body>

</html>
